.stickybar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  width: 100vw;
  background-color: whitesmoke;
  border-top: 1px solid rgb(168, 159, 159);
}

clr-toggle-container {
  margin: 0;
  user-select: none;
}
