<header class="header header-7">
  <div class="branding">
    <a routerLink="" class="nav-link">
      <img src="assets/logo.svg" />
      <span class="title">Report Assistant</span>
    </a>
  </div>
  <div class="reportTitle" *ngIf="report">
    <p class="titleText">{{ report.templateID }}: {{ report.title }}</p>
  </div>
  <div class="header-actions">
    <clr-dropdown *ngIf="auth.user | async as user; else logIn">
      <button
        class="nav-text"
        clrDropdownTrigger
        aria-label="open user profile"
      >
        <clr-icon shape="user"></clr-icon>
        {{ user.email }}
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>Preferences</a>
        <a (click)="logout()" clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
    <ng-template #logIn>
      <a class="nav-link nav-text" (click)="login()">LOGIN</a>
    </ng-template>
  </div>
</header>
