<div class="clr-row clr-justify-content-center" style="width: 100vw;">
  <div class="clr-col-md-6 alert alert-warning" *ngIf="showUnverifiedAlert">
    <div class="alert-items">
      <div class="alert-item static" role="alert">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">
          In order to continue, please verify your account using the link
          emailed to you, then refresh this page. If you don't receive a
          verification email (check your spam),
          <a href="javascript://" (click)="resendVerification()"
            >click here to resend one</a
          >.
        </span>
      </div>
    </div>
  </div>
  <div class="clr-col-md-6 alert" *ngIf="emailSent">
    <div class="alert-items">
      <div class="alert-item static" role="alert">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">
          A new email has been sent to you.
        </span>
      </div>
    </div>
  </div>
  <div
    class="clr-col clr-col-md-10 clr-col-xl-8"
    *ngIf="(user | async)?.emailVerified"
  >
    <div class="clr-row clr-justify-content-between clr-align-items-end">
      <h1>Reports for {{ (user | async)?.branch }}</h1>
      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button class="btn btn-primary" clrDropdownTrigger>
          <clr-icon shape="plus"></clr-icon> New report
        </button>
        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <ng-container
            *ngFor="let name of _TemplateService.templateNames; index as i"
          >
            <button
              clrDropdownItem
              [clrLoading]="templateLoadStatuses[i]"
              (click)="createReport(name, i)"
            >
              {{ name }}
            </button>
          </ng-container>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
    <div class="clr-row">
      <clr-datagrid style="width: 100%;">
        <clr-dg-placeholder>No reports found.</clr-dg-placeholder>

        <clr-dg-column>Template</clr-dg-column>
        <clr-dg-column>Title</clr-dg-column>
        <clr-dg-column>Coverage date</clr-dg-column>
        <clr-dg-column>Additional info</clr-dg-column>
        <clr-dg-column>Actions</clr-dg-column>

        <clr-dg-row *ngFor="let report of reports; index as i">
          <clr-dg-cell
            >{{ report.templateID }}
            <span *ngIf="isUnfinished(report)" class="label label-warning"
              >Draft</span
            >
          </clr-dg-cell>
          <clr-dg-cell>{{ report.title }}</clr-dg-cell>
          <clr-dg-cell>{{
            report.coverageDate | date: "longDate"
          }}</clr-dg-cell>
          <clr-dg-cell>{{ report.additionalInfo }}</clr-dg-cell>
          <clr-dg-cell style="padding: 0;">
            <div class="btn-group btn-link btn-icon">
              <button class="btn">
                <clr-icon shape="pencil" title="Edit report"></clr-icon>
                <span class="clr-icon-title">Edit report</span>
              </button>
              <button class="btn" (click)="showCopy(report)">
                <clr-icon
                  shape="copy"
                  title="Duplicate to new report"
                ></clr-icon>
                <span class="clr-icon-title">Duplicate to new report</span>
              </button>
              <button
                *ngIf="!isUnfinished(report)"
                class="btn"
                (click)="showExport(report)"
              >
                <clr-icon shape="download" title="View JSON"></clr-icon>
                <span class="clr-icon-title">View JSON</span>
              </button>
              <button
                *ngIf="isUnfinished(report)"
                class="btn btn-danger"
                (click)="showDelete(report)"
              >
                <clr-icon
                  shape="trash"
                  class="is-warning"
                  title="Delete draft"
                ></clr-icon>
                <span class="clr-icon-title">Delete draft</span>
              </button>
            </div>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{ reports.length }} reports</clr-dg-footer>
      </clr-datagrid>

      <clr-modal [clrModalSize]="'sm'" [(clrModalOpen)]="deleteVisible">
        <h3 class="modal-title">Are you sure you want to delete this draft?</h3>
        <div class="modal-body" *ngIf="selectedReport">
          <p><strong>Template: </strong>{{ selectedReport.templateID }}</p>
          <p><strong>Title: </strong>{{ selectedReport.title }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="hideDelete()">
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="deleteReport(selectedReport)"
          >
            Delete
          </button>
        </div>
      </clr-modal>
      <clr-modal [clrModalSize]="'sm'" [(clrModalOpen)]="copyVisible">
        <h3 class="modal-title">Create a deplicate report?</h3>
        <div class="modal-body" *ngIf="selectedReport">
          <p>This will open the new report in the editor.</p>
          <p><strong>Template: </strong>{{ selectedReport.templateID }}</p>
          <p><strong>Title: </strong>{{ selectedReport.title }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="hideCopy()">
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="copyReport(selectedReport)"
          >
            Copy
          </button>
        </div>
      </clr-modal>
      <clr-modal [(clrModalOpen)]="exportVisible">
        <h3 class="modal-title" *ngIf="selectedReport">
          Download <em>{{ selectedReport.title }}</em> ({{
            selectedReport.templateID
          }})?
        </h3>
        <div class="modal-body" *ngIf="selectedReport">
          <p>This will open the new report in the editor.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="hideExport()">
            Cancel
          </button>
          <button type="button" class="btn btn-primary">
            Download
          </button>
        </div>
      </clr-modal>
    </div>
  </div>
  <!-- <div class="clr-break-row"></div>
  <div class="clr-col-md-4">
    <h1>You can do this.</h1>
  </div>
  <div class="clr-break-row"></div>
  <div class="clr-col-md-4">

  </div>
  <div class="clr-break-row"></div>
  <div class="clr-col-md-4">
    <clr-dropdown style="width: 100%;">
      <button
        class="btn btn-primary"
        clrDropdownTrigger
        [disabled]="!userVerified"
      >
        Copy an old report
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <button clrDropdownItem routerLink="/report/branch-usage/1">
          <clr-icon shape="plus-circle"></clr-icon> From blank template
        </button>
        <button clrDropdownItem routerLink="/report/branch-usage/1">
          <clr-icon shape="unarchive"></clr-icon> Based on a previous one
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
  <div class="clr-break-row"></div>
  <div class="clr-col-md-4">
    <button
      class="btn btn-outline-primary"
      style="width: 100%;"
      [disabled]="!userVerified"
    >
      View old reports
    </button>
  </div>
  <div class="clr-break-row"></div> -->
</div>
