<div class="clr-row clr-justify-content-center" style="width: 100vw;">
  <div class="clr-col-md-6 alert alert-warning" *ngIf="showUnverifiedAlert">
    <div class="alert-items">
      <div class="alert-item static" role="alert">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">
          In order to continue, please verify your account using the link
          emailed to you, then refresh this page. If you don't receive a
          verification email (check your spam),
          <a href="javascript://" (click)="resendVerification()"
            >click here to resend one</a
          >.
        </span>
      </div>
    </div>
  </div>
  <div class="clr-col-md-6 alert" *ngIf="emailSent">
    <div class="alert-items">
      <div class="alert-item static" role="alert">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">
          A new email has been sent to you.
        </span>
      </div>
    </div>
  </div>
  <div
    class="clr-col clr-col-md-10 clr-col-xl-8"
    *ngIf="(user | async)?.emailVerified"
  >
    <div class="clr-row clr-justify-content-between clr-align-items-end">
      <h1>Reports for {{ (user | async)?.branch }}</h1>
      <button class="btn" (click)="showTemplateModal()" *ngIf="isAdmin">
        <clr-icon shape="scroll"></clr-icon> Templates
      </button>
      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button class="btn btn-primary" clrDropdownTrigger>
          <clr-icon shape="plus"></clr-icon> New report
        </button>
        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <ng-container
            *ngFor="
              let template of _TemplateService.visibleTemplates;
              index as i
            "
          >
            <button
              clrDropdownItem
              [clrLoading]="templateLoadStatuses[i]"
              (click)="createReport(template.templateID, i)"
            >
              {{ template.templateID }}
            </button>
          </ng-container>
          <ng-container *ngIf="_TemplateService.visibleTemplates.length < 1"
            ><clr-icon shape="exclamation-triangle"></clr-icon> No templates are
            available right now.</ng-container
          >
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
    <div class="clr-row">
      <clr-datagrid style="width: 100%;">
        <clr-dg-placeholder>No reports found.</clr-dg-placeholder>

        <clr-dg-column [clrDgField]="'templateID'">ID</clr-dg-column>
        <clr-dg-column [clrDgField]="'id'">Template</clr-dg-column>
        <clr-dg-column [clrDgField]="'author'">Author</clr-dg-column>
        <clr-dg-column [clrDgField]="'coverageDate'"
          >Coverage date</clr-dg-column
        >

        <clr-dg-row
          *clrDgItems="let report of reports; index as i"
          [clrDgItem]="report"
        >
          <clr-dg-action-overflow>
            <button class="action-item" (click)="navigate(report)">
              Open report
            </button>
            <button class="action-item" (click)="showCopy(report)">
              Duplicate to new report
            </button>
            <button
              *ngIf="!isUnfinished(report) && isAdmin"
              class="action-item"
              (click)="showDelete(report)"
            >
              Delete report
              <span class="badge badge-light-blue" *ngIf="isAdmin">Admin</span>
            </button>
            <button
              *ngIf="isUnfinished(report)"
              class="action-item"
              (click)="showDelete(report)"
            >
              Delete draft
            </button>
          </clr-dg-action-overflow>
          <clr-dg-cell (click)="navigate(report)" class="clickable">{{
            report.id
          }}</clr-dg-cell>
          <clr-dg-cell (click)="navigate(report)" class="clickable"
            >{{ report.templateID }}
            <span *ngIf="isUnfinished(report)" class="label label-warning"
              >Draft</span
            >
          </clr-dg-cell>

          <clr-dg-cell (click)="navigate(report)" class="clickable">{{
            report.author
          }}</clr-dg-cell>
          <clr-dg-cell (click)="navigate(report)" class="clickable">{{
            report.coverageDate | date: "MMMM 	’yy"
          }}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-detail *clrIfDetail="let report">
          <clr-dg-detail-header>Report details</clr-dg-detail-header>
          <clr-dg-detail-body>
            <b>ID: </b> {{ report.id }} <br />
            <b>Coverage date: </b> {{ report.coverageDate | date: "MMMM 	’yy" }}
            <br />
            <b>Submitted: </b> {{ report.submitDate | date: "longDate" }} <br />
            <b>Author: </b> {{ report.author }} <br />
            <b>Branch: </b> {{ report.branch }} <br />
            <b>Page count: </b> {{ report.pageCount }} <br />
            <b>Completion: </b> {{ report.completionStatus }} <br />
            <b>Additional info: </b>{{ report.additionalInfo }} <br />
          </clr-dg-detail-body>
        </clr-dg-detail>
        <clr-dg-footer>{{ reports.length }} reports</clr-dg-footer>
      </clr-datagrid>

      <clr-modal [clrModalSize]="'sm'" [(clrModalOpen)]="deleteVisible">
        <h3 class="modal-title">
          Are you sure you want to delete this report?
        </h3>
        <div class="modal-body" *ngIf="selectedReport">
          <p>
            <strong>Template: </strong>{{ selectedReport.templateID
            }}<span
              *ngIf="isUnfinished(selectedReport)"
              class="label label-warning"
              >Draft</span
            >
          </p>
          <p>
            <strong>Coverage date: </strong>{{ selectedReport.coverageDate }}
          </p>
          <p><strong>Author: </strong>{{ selectedReport.author }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="hideDelete()">
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger"
            [clrLoading]="deleteLoading"
            (click)="deleteReport(selectedReport)"
          >
            Delete
          </button>
        </div>
      </clr-modal>
      <clr-modal [clrModalSize]="'sm'" [(clrModalOpen)]="copyVisible">
        <h3 class="modal-title">Create a deplicate report?</h3>
        <div class="modal-body" *ngIf="selectedReport">
          <p>This will open the new report in the editor.</p>
          <p>
            <strong>Template: </strong>{{ selectedReport.templateID }}<br />
            <strong>ID: </strong>{{ selectedReport.id }}<br />
            <b>Submitted: </b>{{ selectedReport.submitDate | date
            }}<span
              *ngIf="isUnfinished(selectedReport)"
              class="label label-warning"
              >Draft</span
            >
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="hideCopy()">
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="duplicateReport(selectedReport)"
          >
            Duplicate
          </button>
        </div>
      </clr-modal>
      <clr-modal [(clrModalOpen)]="templateModalVisible">
        <h3 class="modal-title">
          {{ _TemplateService.templateNames.length }} templates
        </h3>
        <div class="modal-body">
          <div
            class="clr-row clr-align-items-center template-row"
            *ngFor="
              let templateID of _TemplateService.templateNames;
              index as i
            "
          >
            <clr-dropdown>
              <button
                class="btn btn-link btn-sm btn-icon"
                style="padding: 0 12px 0 12px;"
                clrDropdownTrigger
              >
                <clr-icon shape="ellipsis-vertical"></clr-icon>
              </button>
              <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
                <label class="dropdown-header" aria-hidden="true"
                  >Template actions</label
                >
                <div
                  clrDropdownItem
                  (click)="_TemplateService.openTemplate(templateID)"
                >
                  <clr-icon
                    shape="angle-double"
                    dir="right"
                    class="is-highlight"
                  ></clr-icon>
                  Edit
                </div>
                <div
                  clrDropdownItem
                  (click)="showDuplicateTemplate(templateID)"
                >
                  <clr-icon shape="copy"></clr-icon>
                  Duplicate as...
                </div>
                <div
                  clrDropdownItem
                  *ngIf="!isHidden(templateID); else showTempl"
                  (click)="_TemplateService.markHidden(templateID)"
                >
                  <clr-icon shape="eye-hide"></clr-icon>
                  Hide from users
                </div>
                <ng-template #showTempl>
                  <div
                    clrDropdownItem
                    (click)="_TemplateService.markVisible(templateID)"
                  >
                    <clr-icon shape="eye"></clr-icon>
                    Show to users
                  </div>
                </ng-template>
                <div clrDropdownItem (click)="deleteTemplate(templateID)">
                  <clr-icon shape="trash" class="is-danger"></clr-icon>
                  Delete
                </div>
              </clr-dropdown-menu>
            </clr-dropdown>
            {{ templateID }}
          </div>
          <div class="clr-row clr-justify-content-end">
            <button
              class="btn btn-sm btn-link btn-icon"
              style="margin: 24px 0 0 0;"
              (click)="_TemplateService.newTemplate()"
            >
              Create new
              <clr-icon
                shape="plus"
                dir="right"
                title="This will open a blank template in the builder."
              ></clr-icon>
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline"
            (click)="hideTemplateModal()"
          >
            Close
          </button>
        </div>
      </clr-modal>
      <clr-modal [clrModalSize]="'sm'" [(clrModalOpen)]="tempDuplicateVisible">
        <h3 class="modal-title">Duplicate {{ selectedTemplateName }}</h3>
        <div class="modal-body">
          <clr-input-container>
            <label>New template name</label>
            <input clrInput [(ngModel)]="newTemplateName" required />
            <clr-control-helper
              >What should the new template be named?</clr-control-helper
            >
          </clr-input-container>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline"
            (click)="hideTemplateModal()"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="newTemplateName.length < 1"
            (click)="duplicateTemplate(selectedTemplateName, newTemplateName)"
          >
            Duplicate
          </button>
        </div>
      </clr-modal>
    </div>
  </div>
  <!-- <div class="clr-break-row"></div>
  <div class="clr-col-md-4">
    <h1>You can do this.</h1>
  </div>
  <div class="clr-break-row"></div>
  <div class="clr-col-md-4">

  </div>
  <div class="clr-break-row"></div>
  <div class="clr-col-md-4">
    <clr-dropdown style="width: 100%;">
      <button
        class="btn btn-primary"
        clrDropdownTrigger
        [disabled]="!userVerified"
      >
        Copy an old report
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <button clrDropdownItem routerLink="/report/branch-usage/1">
          <clr-icon shape="plus-circle"></clr-icon> From blank template
        </button>
        <button clrDropdownItem routerLink="/report/branch-usage/1">
          <clr-icon shape="unarchive"></clr-icon> Based on a previous one
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
  <div class="clr-break-row"></div>
  <div class="clr-col-md-4">
    <button
      class="btn btn-outline-primary"
      style="width: 100%;"
      [disabled]="!userVerified"
    >
      View old reports
    </button>
  </div>
  <div class="clr-break-row"></div> -->
</div>
