.templateTitle {
  font-size: 1rem !important;
  width: 100% !important;
}

.builder-sidebar {
  height: calc(100vh - 61px);
}

.preview-area {
  overflow-y: auto;
  height: calc(100vh - 61px);
}

.builder-save-button {
  position: absolute;
  right: 1vw;
  bottom: 1vh;
}

.tree-text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

emoji-picker {
  width: 100%;
  max-height: 15rem;
  --emoji-size: 1.2rem;
  --emoji-padding: 0.3rem;
  --input-font-size: 0.67rem;
  --input-line-height: 1rem;
  --num-columns: 8;
}

.tagAccordion {
  height: 20rem;
}

.clr-form-control {
  margin: 0 !important;
}
