<div
  class="clr-row clr-justify-content-between"
  style="width: 100vw; overflow: hidden;"
>
  <div
    class="clr-col-3 builder-sidebar"
    style="
      box-shadow: 0px 10px 18px #c7c6c6;
      margin-left: 10px;
      overflow-y: auto;
    "
  >
    <div class="clr-row" style="margin: 1rem 0 1rem 0;">
      <clr-input-container style="margin-top: 3rem;">
        <input
          class="templateTitle"
          clrInput
          placeholder="Untitled template"
          name="name"
          *ngIf="_template"
          [(ngModel)]="_template.templateID"
        />
        <clr-control-helper>Template title</clr-control-helper>
      </clr-input-container>
    </div>

    <span class="clr-row" *ngIf="pagesEmpty"
      ><clr-icon shape="help-info"></clr-icon><em>No pages yet.</em>
    </span>
    <div class="clr-row" *ngIf="_template">
      <clr-tree>
        <clr-tree-node *ngIf="_template.pages">
          <h4 style="margin: 0;">Overview</h4>
          <clr-tooltip>
            <clr-icon
              clrTooltipTrigger
              shape="help-info"
              size="16"
              aria-label="Uniq tooltip 3"
            ></clr-icon>
            <clr-tooltip-content
              clrPosition="bottom-right"
              clrSize="md"
              *clrIfOpen
            >
              <span
                >Double click on a page or section below to open the properties
                pane. Use the "+" buttons to add content.</span
              >
            </clr-tooltip-content>
          </clr-tooltip>
          <button
            class="btn btn-sm btn-link btn-icon"
            title="Add page"
            (click)="addPage()"
          >
            <clr-icon shape="plus"></clr-icon>
          </button>
        </clr-tree-node>
        <clr-tree-node
          *ngFor="let page of _template.pages; index as i"
          [(clrExpanded)]="pageExpansions[i]"
          (click)="setCurrentPage(i)"
        >
          <div class="tree-text clr-row" (dblclick)="openEditPage(i)">
            <div><clr-icon shape="file"></clr-icon> {{ page.title }}</div>
          </div>
          <clr-tree-node>
            <p class="p4" style="margin: 0;"></p>
            <button
              class="btn btn-sm btn-link"
              title="Add Meta Section"
              (click)="addMetaSection(i)"
              *ngIf="!hasMetaSection"
            >
              Add Meta Section
              <clr-icon shape="plus"></clr-icon>
            </button>
          </clr-tree-node>
          <clr-tree-node
            *ngFor="let section of getSectionsByType(i, 'meta')"
            style="width: 100%;"
            (dblclick)="openEditSection(section)"
          >
            <div class="tree-text">
              {{ section.title
              }}<clr-icon
                shape="flag"
                class="is-solid is-error"
                title="Meta section"
              ></clr-icon>
            </div>
          </clr-tree-node>
          <clr-tree-node>
            <p class="p4" style="margin: 0;">Datagrids</p>
            <button
              class="btn btn-sm btn-link btn-icon"
              title="Add Datagrid"
              (click)="addDatagrid(i)"
            >
              <clr-icon shape="plus"></clr-icon>
            </button>
          </clr-tree-node>

          <clr-tree-node
            *ngFor="let section of getDatagrids(i)"
            style="width: 100%;"
            (dblclick)="openEditSection(section)"
          >
            <clr-icon shape="table"></clr-icon>
            <div class="tree-text">{{ section.title }}</div>
          </clr-tree-node>
          <clr-tree-node>
            <p class="p4" style="margin: 0;">SimpleInputs</p>
            <button
              class="btn btn-sm btn-link btn-icon"
              title="Add Datagrid"
              (click)="addSimpleInput(i)"
            >
              <clr-icon shape="plus"></clr-icon>
            </button>
          </clr-tree-node>
          <clr-tree-node
            *ngFor="let section of getSimpleInputs(i)"
            style="width: 100%;"
            (dblclick)="openEditSection(section)"
          >
            <clr-icon shape="form"></clr-icon>
            <div class="tree-text">
              {{ section.title }}
            </div>
          </clr-tree-node>
        </clr-tree-node>
      </clr-tree>
    </div>
  </div>
  <div class="clr-col preview-area" *ngIf="currentPage">
    <div class="clr-row">
      <div class="clr-col-1 clr-align-self-center" style="padding: 0;">
        <div class="clr-row clr-justify-content-end clr-align-items-end">
          <button
            class="btn btn-link btn-icon"
            style="margin-right: 1rem;"
            (click)="openEditPage(currentPage)"
          >
            <clr-icon shape="pencil" style="color: black;"></clr-icon>
          </button>
        </div>
      </div>
      <div class="clr-col-11" style="padding: 0;">
        <h1>{{ currentPage.title }}</h1>
      </div>
    </div>
    <hr />

    <div class="clr-row" *ngFor="let section of currentPage.sections">
      <div class="clr-col-1 clr-align-self-center" style="padding: 0;">
        <div class="clr-row clr-justify-content-end">
          <button
            class="btn btn-link btn-icon"
            style="margin-right: 1rem;"
            (click)="openEditSection(section)"
          >
            <clr-icon shape="pencil" style="color: black;"></clr-icon>
          </button>
        </div>
      </div>
      <div class="clr-col-11" style="padding: 0;">
        <datagrid-section
          *ngIf="isDatagrid(section); else simpleInput"
          [interface]="section"
          (sectionChanged)="setSection(section, $event)"
          class="grayout"
        >
        </datagrid-section>
        <ng-template #simpleInput>
          <simple-input
            [interface]="section"
            (sectionChanged)="setSection(section, $event)"
            class="grayout"
          ></simple-input>
        </ng-template>
        <div></div>
      </div>
    </div>

    <clr-modal [(clrModalOpen)]="editSectionOpened" [clrModalSize]="'xl'">
      <h3 class="modal-title">Section properties</h3>
      <div class="modal-body" style="overflow: auto;">
        <clr-tabs>
          <clr-tab>
            <button clrTabLink id="link1">Properties</button>
            <clr-tab-content id="content1" *clrIfActive>
              <clr-stack-view>
                <clr-stack-block>
                  <clr-stack-label>Title</clr-stack-label>
                  <clr-stack-content>
                    <input
                      type="text"
                      [(ngModel)]="sectionInEdit['title']"
                      class="clr-input"
                    />
                  </clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                  <clr-stack-label>Subtitle (optional)</clr-stack-label>
                  <clr-stack-content>
                    <input
                      type="text"
                      [(ngModel)]="sectionInEdit['subtitle']"
                      class="clr-input"
                    />
                  </clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                  <clr-stack-label
                    >Type<clr-tooltip>
                      <clr-icon
                        clrTooltipTrigger
                        shape="help-info"
                        size="16"
                      ></clr-icon>
                      <clr-tooltip-content
                        clrPosition="right"
                        clrSize="lg"
                        *clrIfOpen
                      >
                        <span
                          ><em>Datagrids</em> are tables, good for lots of
                          data.<br /><em>SimpleInputs</em> are basic forms, good
                          for a few questions.<br /><em>Meta sections</em> are
                          SimpleInputs that link to properties in the report--
                          i.e. coverage date.</span
                        >
                      </clr-tooltip-content>
                    </clr-tooltip></clr-stack-label
                  >
                  <clr-stack-content>
                    <select
                      [(ngModel)]="sectionInEdit['type']"
                      class="clr-select"
                    >
                      <option value="datagrid">Datagrid</option>
                      <option value="simple-input">SimpleInput</option>
                      <option value="meta">Meta</option>
                    </select>
                  </clr-stack-content>
                </clr-stack-block>
                <clr-stack-block>
                  <clr-stack-label>Order</clr-stack-label>
                  <clr-stack-content>
                    <button
                      class="btn btn-link btn-sm"
                      title="Move up"
                      (click)="
                        sectionInEdit['index'] = sectionInEdit['index'] - 1
                      "
                      [disabled]="sectionInEdit['index'] < 1"
                      style="margin: 0;"
                    >
                      <clr-icon shape="angle" dir="up"></clr-icon>
                    </button>
                    {{ sectionInEdit["index"] + 1 }}/{{
                      currentPage.sections.length
                    }}
                    <button
                      class="btn btn-link btn-sm"
                      title="Move down"
                      style="margin: 0;"
                      (click)="
                        sectionInEdit['index'] = sectionInEdit['index'] + 1
                      "
                      [disabled]="
                        sectionInEdit['index'] > currentPage.sections.length - 2
                      "
                    >
                      <clr-icon shape="angle" dir="down"></clr-icon>
                    </button>
                  </clr-stack-content>
                </clr-stack-block>
                <clr-stack-block *ngIf="isDatagrid(sectionInEdit)">
                  <clr-stack-label>
                    Columns
                    <clr-tooltip *ngIf="hasPrefill(sectionInEdit)">
                      <clr-icon
                        clrTooltipTrigger
                        shape="warning-standard"
                        class="is-warning is-solid"
                        size="16"
                      ></clr-icon>
                      <clr-tooltip-content
                        clrPosition="top-right"
                        clrSize="md"
                        *clrIfOpen
                      >
                        <span
                          >Modifying this section might
                          <b>clear existing prefill</b>.</span
                        >
                      </clr-tooltip-content>
                    </clr-tooltip>
                  </clr-stack-label>
                  <clr-stack-content>
                    {{ sectionInEdit["columns"].length }} columns
                    <button
                      class="btn btn-sm btn-link btn-icon"
                      title="Add column"
                      (click)="addColumn($event)"
                      style="margin: 0;"
                    >
                      <clr-icon shape="plus"></clr-icon>
                    </button>
                  </clr-stack-content>
                  <clr-stack-block
                    *ngFor="let col of sectionInEdit['columns']; index as i"
                  >
                    <clr-stack-label
                      >Column {{ i + 1 }}
                      <button
                        class="btn btn-sm btn-link btn-icon"
                        (click)="deleteColumn(i)"
                      >
                        <clr-icon shape="trash"></clr-icon>
                      </button>
                    </clr-stack-label>
                    <clr-stack-content>
                      <input
                        type="text"
                        [(ngModel)]="sectionInEdit['columns'][i]['label']"
                        class="clr-input"
                        placeholder="Label"
                      />
                      <select
                        [(ngModel)]="sectionInEdit['columns'][i]['type']"
                        (ngModelChange)="typeChanged(col, $event)"
                        class="clr-select"
                      >
                        <option value="division-select">Division Select</option>
                        <option value="text">Text</option>
                        <option value="number">Number</option>
                        <option value="date-select">Date</option>
                        <option value="tag-select">Tag Select</option>
                      </select>
                      <div
                        class="clr-col"
                        *ngIf="isEqual(col['type'], 'tag-select')"
                      >
                        <div class="clr-row">
                          <label class="clr-control-label">Tags</label>
                        </div>
                        <clr-accordion>
                          <clr-accordion-panel
                            *ngFor="let tag of col['tags']; index as i"
                          >
                            <clr-accordion-title
                              >{{ tag["icon"] }}
                              {{ tag["label"] }}
                              <button
                                class="btn btn-link btn-sm btn-icon"
                                (click)="deleteTag(col, i)"
                                style="margin: 0;"
                              >
                                <clr-icon
                                  shape="trash"
                                  class="is-danger"
                                ></clr-icon>
                              </button>
                            </clr-accordion-title>
                            <clr-accordion-content
                              *clrIfExpanded
                              class="tagAccordion"
                            >
                              <label class="clr-control-label">Tag label</label>
                              <input clrInput [(ngModel)]="tag['label']" />
                              <label class="clr-control-label">Tag icon</label>
                              <emoji-picker
                                (emoji-click)="editTagEmoji(col, i, $event)"
                              ></emoji-picker>
                            </clr-accordion-content>
                          </clr-accordion-panel>
                        </clr-accordion>
                        <div class="clr-row">
                          <button
                            class="btn btn-link btn-sm"
                            (click)="addTag(col, $event)"
                          >
                            Add tag
                          </button>
                        </div>
                      </div>
                    </clr-stack-content>
                  </clr-stack-block>
                </clr-stack-block>
                <clr-stack-block
                  *ngIf="
                    isSimpleInput(sectionInEdit) ||
                    isSectionType(sectionInEdit, 'meta')
                  "
                >
                  <clr-stack-label>
                    Inputs
                    <clr-tooltip *ngIf="hasPrefill(sectionInEdit)">
                      <clr-icon
                        clrTooltipTrigger
                        shape="warning-standard"
                        class="is-warning is-solid"
                        size="16"
                      ></clr-icon>
                      <clr-tooltip-content
                        clrPosition="top-right"
                        clrSize="md"
                        *clrIfOpen
                      >
                        <span
                          >Modifying this section might
                          <b>clear existing prefill</b>.</span
                        >
                      </clr-tooltip-content>
                    </clr-tooltip>
                  </clr-stack-label>
                  <clr-stack-content *ngIf="sectionInEdit">
                    {{ sectionInEdit["inputs"].length }} inputs
                    <button
                      class="btn btn-sm btn-link btn-icon"
                      title="Add input"
                      (click)="addInput($event)"
                      style="margin: 0;"
                    >
                      <clr-icon shape="plus"></clr-icon>
                    </button>
                  </clr-stack-content>
                  <clr-stack-block
                    *ngFor="let input of sectionInEdit['inputs']; index as i"
                  >
                    <clr-stack-label>
                      Input {{ i + 1 }}
                      <clr-dropdown>
                        <button clrDropdownTrigger>
                          <clr-icon
                            shape="ellipsis-vertical"
                            size="16"
                          ></clr-icon>
                        </button>
                        <clr-dropdown-menu *clrIfOpen>
                          <div
                            clrDropdownItem
                            (click)="deleteInArray(i, sectionInEdit['inputs'])"
                          >
                            Delete input
                          </div>
                          <div
                            clrDropdownItem
                            *ngIf="i > 0"
                            (click)="
                              moveInArray(i, i - 1, sectionInEdit['inputs'])
                            "
                          >
                            Move up
                          </div>
                          <div
                            clrDropdownItem
                            *ngIf="i < sectionInEdit['inputs'].length - 1"
                            (click)="
                              moveInArray(i, i + 1, sectionInEdit['inputs'])
                            "
                          >
                            Move down
                          </div>
                        </clr-dropdown-menu>
                      </clr-dropdown>
                    </clr-stack-label>
                    <clr-stack-content>
                      <clr-input-container>
                        <label>Label</label>
                        <input clrInput [(ngModel)]="input['label']" />
                      </clr-input-container>
                      <clr-select-container
                        *ngIf="isSectionType(sectionInEdit, 'simple-input')"
                      >
                        <label>Type</label>
                        <select [(ngModel)]="input['type']" clrSelect>
                          <option value="division-select"
                            >Division Select</option
                          >
                          <option value="text">Text</option>
                          <option value="number">Number</option>
                          <option value="date-select">Date</option>
                          <option value="tag-select">Tag Select</option>
                          <option value="month-select">Month</option>
                          <option value="textarea">Multiline text</option>
                        </select>
                        <div
                          class="clr-col"
                          *ngIf="isEqual(input['type'], 'tag-select')"
                        >
                          <div class="clr-row">
                            <label class="clr-control-label">Tags</label>
                          </div>
                          <clr-accordion>
                            <clr-accordion-panel
                              *ngFor="let tag of input['tags']; index as i"
                            >
                              <clr-accordion-title
                                >{{ tag["icon"] }}
                                {{ tag["label"] }}
                                <button
                                  class="btn btn-link btn-sm btn-icon"
                                  (click)="deleteTag(input, i)"
                                  style="margin: 0;"
                                >
                                  <clr-icon
                                    shape="trash"
                                    class="is-danger"
                                  ></clr-icon>
                                </button>
                              </clr-accordion-title>
                              <clr-accordion-content
                                *clrIfExpanded
                                class="tagAccordion"
                              >
                                <label class="clr-control-label"
                                  >Tag label</label
                                >
                                <input clrInput [(ngModel)]="tag['label']" />
                                <label class="clr-control-label"
                                  >Tag icon</label
                                >
                                <emoji-picker
                                  (emoji-click)="editTagEmoji(input, i, $event)"
                                ></emoji-picker>
                              </clr-accordion-content>
                            </clr-accordion-panel>
                          </clr-accordion>
                          <div class="clr-row">
                            <button
                              class="btn btn-link btn-sm"
                              (click)="addTag(input, $event)"
                            >
                              Add tag
                            </button>
                          </div>
                        </div>
                      </clr-select-container>

                      <clr-select-container
                        *ngIf="isSectionType(sectionInEdit, 'meta')"
                      >
                        <label>Link</label>
                        <select
                          [(ngModel)]="input['link']"
                          (ngModelChange)="linkChanged(input, $event)"
                          clrSelect
                        >
                          <option value="coverageDate"
                            >Report coverage date</option
                          >
                          <option value="additionalInfo"
                            >Additional info</option
                          >
                          <option value="title">Report title</option>
                          <option value="subject">Report subject</option>
                          <option value="tags">Report tags</option>
                        </select>
                      </clr-select-container>
                      <div
                        class="clr-col"
                        *ngIf="isEqual(input['type'], 'tag-select')"
                      >
                        <div class="clr-row">
                          <label class="clr-control-label">Tags</label>
                        </div>
                        <clr-accordion>
                          <clr-accordion-panel
                            *ngFor="let tag of input['tags']; index as i"
                          >
                            <clr-accordion-title
                              >{{ tag["icon"] }}
                              {{ tag["label"] }}
                              <button
                                class="btn btn-link btn-sm btn-icon"
                                (click)="deleteTag(input, i)"
                                style="margin: 0;"
                              >
                                <clr-icon
                                  shape="trash"
                                  class="is-danger"
                                ></clr-icon>
                              </button>
                            </clr-accordion-title>
                            <clr-accordion-content
                              *clrIfExpanded
                              class="tagAccordion"
                            >
                              <label class="clr-control-label">Tag label</label>
                              <input clrInput [(ngModel)]="tag['label']" />
                              <label class="clr-control-label">Tag icon</label>
                              <emoji-picker
                                (emoji-click)="editTagEmoji(input, i, $event)"
                              ></emoji-picker>
                            </clr-accordion-content>
                          </clr-accordion-panel>
                        </clr-accordion>
                        <div class="clr-row">
                          <button
                            class="btn btn-link btn-sm"
                            (click)="addTag(input, $event)"
                          >
                            Add tag
                          </button>
                        </div>
                      </div>
                    </clr-stack-content>
                    <!-- Show tag options if input is tag-select -->
                  </clr-stack-block>
                </clr-stack-block>
              </clr-stack-view>
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink>Preview & prefill</button>
            <clr-tab-content *clrIfActive="true">
              <p>
                <clr-icon shape="help-info"></clr-icon> Prefill is the default
                information present in each section. You can use it to offer
                hints on how a form should be filled.
              </p>
              <simple-input
                *ngIf="
                  isSimpleInput(sectionInEdit) ||
                  isSectionType(sectionInEdit, 'meta')
                "
                [interface]="sectionInEdit"
              >
              </simple-input>

              <datagrid-section
                *ngIf="isDatagrid(sectionInEdit)"
                [interface]="sectionInEdit"
              >
              </datagrid-section>
              <!-- <table *ngIf="isDatagrid(sectionInEdit)" class="table">
                <thead>
                  <tr>
                    <th>
                      <p class="p8">EDIT</p>
                    </th>
                    <th *ngFor="let col of sectionInEdit['columns']">
                      {{ col.label }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of sectionInEdit['value']; index as i">
                    <td>
                      <button
                        class="btn btn-sm btn-link btn-icon"
                      >
                        <clr-icon shape="trash"></clr-icon>
                      </button>
                    </td>
                    <td *ngFor="let col of row['row']; index as j">
                      <select
                        *ngIf="isDatatype(j, 'division-select')"
                        [(ngModel)]="sectionInEdit['value'][i]['row'][j]"
                        class="clr-select"
                      >
                        <option
                          *ngFor="
                            let division of (constants$ | async)['divisions']
                          "
                          [value]="division['label']"
                          >{{ division["label"] }}</option
                        >
                      </select>
                      <input
                        *ngIf="isDatatype(j, 'date-select')"
                        type="date"
                        style="margin: 0;"
                        clrDate
                        name="demo"
                        size="20"
                        [(ngModel)]="sectionInEdit['value'][i]['row'][j]"
                      />
                      <clr-checkbox-container
                        *ngIf="isDatatype(j, 'tag-select')"
                        clrInline
                      >
                        <clr-checkbox-wrapper
                          *ngFor="let tag of sectionInEdit['tags']"
                        >
                          <input
                            type="checkbox"
                            clrCheckbox
                            [ngModel]="hasTag(i, j, tag)"
                            (ngModelChange)="toggleTag(i, j, $event, tag)"
                          />
                          <label [title]="tag['label']">{{
                            tag["icon"]
                          }}</label>
                        </clr-checkbox-wrapper>
                      </clr-checkbox-container>
                      <input
                        *ngIf="isDatatype(j, 'text')"
                        type="text"
                        size="20"
                        [(ngModel)]="sectionInEdit['value'][i]['row'][j]"
                        class="clr-input"
                        placeholder="Label"
                      />
                      <input
                        *ngIf="isDatatype(j, 'number')"
                        type="number"
                        size="20"
                        [(ngModel)]="sectionInEdit['value'][i]['row'][j]"
                        class="clr-input"
                        placeholder="Label"
                      />
                    </td>
                  </tr>
                </tbody>
              </table> -->
            </clr-tab-content>
          </clr-tab>
        </clr-tabs>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="cancelEditSection()">
          Cancel
        </button>
        <button
          class="btn btn-warning-outline"
          (click)="deleteSection(sectionInEdit)"
        >
          Delete section
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="finishEditSection()"
        >
          Apply changes
        </button>
      </div>
    </clr-modal>
    <clr-modal [(clrModalOpen)]="editPageOpened">
      <h3 class="modal-title">Page properties</h3>
      <div class="modal-body" style="overflow: auto;">
        <div class="clr-col-12">
          <div class="clr-row">
            <clr-input-container>
              <label>Page title</label>
              <input clrInput [(ngModel)]="currentPage.title" />
            </clr-input-container>
          </div>
          <div class="clr-row" style="padding-top: 1rem;">
            <label class="clr-control-label">Page order </label>
            <button
              class="btn btn-link btn-sm"
              title="Move up"
              (click)="movePageUp()"
              [disabled]="currentPage.index < 1"
              style="margin: 0;"
            >
              <clr-icon shape="angle" dir="up"></clr-icon>
            </button>
            {{ currentPage.index + 1 }}/{{ _template.pages.length }}
            <button
              class="btn btn-link btn-sm"
              title="Move down"
              style="margin: 0;"
              (click)="movePageDown()"
              [disabled]="currentPage.index > _template.pages.length - 2"
            >
              <clr-icon shape="angle" dir="down"></clr-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deletePage(currentPage.index)"
        >
          Delete page
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="finishEditPage()"
        >
          Finish
        </button>
      </div>
    </clr-modal>
  </div>
  <button
    class="btn btn-primary builder-save-button"
    [disabled]="!templateValid"
    [title]="validMessage"
    (click)="openSaveTemplate()"
  >
    <clr-icon shape="floppy"></clr-icon> Save template
  </button>
  <clr-modal
    [(clrModalOpen)]="saveTemplateOpen"
    *ngIf="saveTemplateOpen"
    [clrModalSize]="'lg'"
  >
    <h3 class="modal-title">Save template?</h3>
    <div class="modal-body" style="overflow-y: auto;">
      <b>Title: </b>{{ _template.templateID }} <br />
      <span *ngIf="originalTemplateName"
        ><b>Original title: </b>{{ originalTemplateName }} <br
      /></span>
      <b>Page count: </b>{{ _template.pages.length }} <br />
      <hr />

      <div style="overflow-y: auto; overflow-x: hidden; height: 75%;">
        <b>Magic text (for nerds):</b>
        <pre style="max-height: 400px; overflow-y: auto;">{{
          getMagicText()
        }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="cancelSaveTemplate()">
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-success"
        [clrLoading]="saveLoadingStatus"
        (click)="saveTemplate()"
      >
        Save template
      </button>
    </div>
  </clr-modal>
</div>
