<div
  class="clr-row clr-justify-content-between"
  style="width: 100vw; overflow: hidden;"
>
  <div
    class="clr-col-3 builder-sidebar"
    style="
      box-shadow: 0px 10px 18px #c7c6c6;
      margin-left: 10px;
      overflow-y: auto;
    "
  >
    <form clrForm [formGroup]="tempPropsGroup" clrLayout="vertical">
      <clr-input-container>
        <input
          class="templateTitle"
          clrInput
          placeholder="Untitled template"
          name="name"
          formControlName="templateTitle"
        />
      </clr-input-container>
    </form>
    <span *ngIf="pagesEmpty"
      ><clr-icon shape="help-info"></clr-icon><em>No pages yet.</em>
    </span>
    <clr-tree *ngIf="_template">
      <clr-tree-node *ngIf="_template.pages">
        <p class="p4" style="margin: 0;">Pages</p>
        <button
          class="btn btn-sm btn-link btn-icon"
          title="Add page"
          (click)="addPage()"
        >
          <clr-icon shape="plus"></clr-icon>
        </button>
      </clr-tree-node>
      <clr-tree-node
        *ngFor="let page of _template.pages; index as i"
        [(clrExpanded)]="pageExpansions[i]"
      >
        <div class="tree-text clr-row">
          <div>
            <a (click)="setCurrentPage(i)"
              ><clr-icon shape="file"></clr-icon> {{ page.title }}</a
            >
          </div>
        </div>
        <clr-tree-node>
          <p class="p4" style="margin: 0;">Datagrids</p>
          <button
            class="btn btn-sm btn-link btn-icon"
            title="Add Datagrid"
            (click)="addDatagrid(i)"
          >
            <clr-icon shape="plus"></clr-icon>
          </button>
        </clr-tree-node>

        <clr-tree-node
          *ngFor="let section of getDatagrids(i)"
          style="width: 100%;"
        >
          <clr-icon shape="table"></clr-icon>
          <div class="tree-text">{{ section.title }}</div>
        </clr-tree-node>
        <clr-tree-node>
          <p class="p4" style="margin: 0;">SimpleInputs</p>
          <button
            class="btn btn-sm btn-link btn-icon"
            title="Add Datagrid"
            (click)="addSimpleInput(i)"
          >
            <clr-icon shape="plus"></clr-icon>
          </button>
        </clr-tree-node>
        <clr-tree-node
          *ngFor="let section of getSimpleInputs(i)"
          style="width: 100%;"
        >
          <clr-icon shape="form"></clr-icon>
          <div class="tree-text">
            {{ section.title }}
            <clr-icon
              *ngIf="section.meta"
              shape="flag"
              class="is-solid is-error"
              title="Meta section"
            ></clr-icon>
          </div>
        </clr-tree-node>
      </clr-tree-node>
    </clr-tree>
  </div>
  <div class="clr-col preview-area" *ngIf="currentPage">
    <h1>{{ currentPage.title }}</h1>
    <hr />

    <div
      class="clr-row"
      *ngFor="let section of getDatagrids(currentPage.number)"
    >
      <div class="clr-col-1 clr-align-self-center" style="padding: 0;">
        <div class="clr-row clr-justify-content-end">
          <button
            class="btn btn-link btn-icon"
            style="margin-right: 1rem;"
            (click)="openEditSection(section)"
          >
            <clr-icon shape="pencil"></clr-icon>
          </button>
        </div>
      </div>
      <div class="clr-col-11" style="padding: 0;">
        <datagrid-section
          [interface]="section"
          (sectionChanged)="setSection(section, $event)"
        >
        </datagrid-section>
      </div>
    </div>

    <div
      class="clr-row"
      *ngFor="let section of getSimpleInputs(currentPage.number)"
    >
      <div class="clr-col-1 clr-align-self-center" style="padding: 0;">
        <div class="clr-row clr-justify-content-end">
          <button
            class="btn btn-link btn-icon"
            style="margin-right: 1rem;"
            (click)="openEditSection(section)"
          >
            <clr-icon shape="pencil"></clr-icon>
          </button>
        </div>
      </div>
      <div class="clr-col-11" style="padding: 0;">
        <simple-input
          [interface]="section"
          (sectionChanged)="setSection(section, $event)"
        ></simple-input>
      </div>
    </div>
    <clr-modal [(clrModalOpen)]="editSectionOpened" [clrModalSize]="'xl'">
      <h3 class="modal-title">Section properties</h3>
      <div class="modal-body">
        <clr-stack-view *ngIf="isDatagrid(selectedSection)">
          <clr-stack-block>
            <clr-stack-label>Title</clr-stack-label>
            <clr-stack-content>
              <input
                type="text"
                [(ngModel)]="selectedSection['title']"
                class="clr-input"
              />
            </clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>Subtitle (optional)</clr-stack-label>
            <clr-stack-content>
              <input
                type="text"
                [(ngModel)]="selectedSection['subtitle']"
                class="clr-input"
              />
            </clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>Type</clr-stack-label>
            <clr-stack-content>
              <select [(ngModel)]="selectedSection['type']" class="clr-select">
                <option value="datagrid">Datagrid</option>
                <option value="simple-input">SimpleInput</option>
              </select>
            </clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>
              Columns
              <clr-tooltip>
                <clr-icon
                  clrTooltipTrigger
                  shape="warning-standard"
                  class="is-warning"
                  size="16"
                ></clr-icon>
                <clr-tooltip-content
                  clrPosition="top-right"
                  clrSize="md"
                  *clrIfOpen
                >
                  <span
                    >Modifying this section will
                    <b>clear existing prefill</b>.</span
                  >
                </clr-tooltip-content>
              </clr-tooltip>
            </clr-stack-label>
            <clr-stack-content>
              {{ selectedSection["columns"].length }} columns
              <button
                class="btn btn-sm btn-link btn-icon"
                title="Add column"
                (click)="addColumn()"
                style="margin: 0;"
              >
                <clr-icon shape="plus"></clr-icon>
              </button>
            </clr-stack-content>
            <clr-stack-block
              *ngFor="let col of selectedSection['columns']; index as i"
            >
              <clr-stack-label
                >Column {{ i + 1 }}
                <button
                  class="btn btn-sm btn-link btn-icon"
                  (click)="deleteColumn(i)"
                >
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </clr-stack-label>
              <clr-stack-content>
                <input
                  type="text"
                  [(ngModel)]="selectedSection['columns'][i]['label']"
                  class="clr-input"
                  placeholder="Label"
                />
                <select
                  [(ngModel)]="selectedSection['columns'][i]['type']"
                  class="clr-select"
                >
                  <option value="division-select">Division Select</option>
                  <option value="text">Text</option>
                  <option value="number">Number</option>
                  <option value="date-select">Date</option>
                  <option value="tag-select">Tag Select</option>
                </select>
              </clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block *ngIf="hasTagSelect(selectedSection)">
            <clr-stack-label>
              Tags
              <clr-tooltip>
                <clr-icon
                  clrTooltipTrigger
                  shape="warning-standard"
                  class="is-warning"
                  size="16"
                ></clr-icon>
                <clr-tooltip-content
                  clrPosition="top-right"
                  clrSize="md"
                  *clrIfOpen
                >
                  <span
                    >Modifying this section will
                    <b>clear existing prefill</b>.</span
                  >
                </clr-tooltip-content>
              </clr-tooltip>
            </clr-stack-label>
            <clr-stack-content>
              {{ selectedSection["tags"].length }} tags
              <button
                class="btn btn-sm btn-link btn-icon"
                title="Add tag"
                (click)="addTag()"
                style="margin: 0;"
              >
                <clr-icon shape="plus"></clr-icon>
              </button>
            </clr-stack-content>
            <clr-stack-block
              *ngFor="let tag of selectedSection['tags']; index as i"
            >
              <clr-stack-label
                >Tag {{ i + 1 }}
                <button
                  class="btn btn-sm btn-link btn-icon"
                  (click)="deleteTag(i)"
                >
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </clr-stack-label>
              <clr-stack-content>
                <clr-accordion>
                  <clr-accordion-panel>
                    <clr-accordion-title
                      >Emoji: {{ tag["icon"] }}</clr-accordion-title
                    >
                    <clr-accordion-content *clrIfExpanded
                      ><emoji-picker
                        (emoji-click)="editTagEmoji(i, $event)"
                      ></emoji-picker
                    ></clr-accordion-content>
                  </clr-accordion-panel>
                </clr-accordion>
                <div class="clr-row">
                  <p class="p4" style="margin: 0;">Tag label</p>
                  <input
                    type="text"
                    [(ngModel)]="selectedSection['tags'][i]['label']"
                    class="clr-input"
                    placeholder="Tag label, e.g. 'Holiday program'"
                  />
                </div>
              </clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <!-- <clr-stack-block
              *ngFor="let block of blocks; let blockIndex = index"
              [clrStackViewLevel]="1"
              [clrStackViewSetsize]="blocks.length"
              [clrStackViewPosinset]="blockIndex + 1"
              >
              <clr-stack-label>{{block.title}}</clr-stack-label>
              <clr-stack-content>
                  <input type="text" [(ngModel)]="block.content" class="clr-input"/>
              </clr-stack-content>

              <clr-stack-block
                  *ngFor="let child of block.children; let blockChildIndex = index"
                  [clrSbNotifyChange]="child.content!=='Sub-content '+ (blockChildIndex)"
                  [clrStackViewLevel]="2"
                  [clrStackViewSetsize]="block.children.length"
                  [clrStackViewPosinset]="blockChildIndex + 1"
                  >
                  <clr-stack-label>{{child.title}}</clr-stack-label>
                  <clr-stack-content>
                      <input type="text" [(ngModel)]="child.content" class="clr-input"/>
                  </clr-stack-content>
              </clr-stack-block>
            </clr-stack-block> -->
        </clr-stack-view>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="finishEditSection()">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="finishEditSection()"
        >
          Apply changes
        </button>
      </div>
    </clr-modal>
  </div>
  <button
    class="btn btn-primary builder-save-button"
    [disabled]="!templateValid"
    [title]="validMessage"
  >
    <clr-icon shape="floppy"></clr-icon> Save template
  </button>
</div>
