/* You can add global styles to this file, and also import other style files */

.clickable {
  cursor: pointer;
}

.clr-treenode-content {
  width: calc(100% - 40px);
}

.clr-accordion:not(.clr-stepper-forms) .clr-accordion-inner-content {
  padding: 0;
  max-height: 16rem;
}

clr-date-container {
  margin: 0 !important;
}

.grayout {
  pointer-events: none;
  cursor: not-allowed;
}

.stack-block-content {
  background-color: transparent;
}
